---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/common/Nav.astro';
import Footer from '../components/common/Footer.astro';
import Hero from '../components/home/Hero.astro';
import Ticker from '../components/home/Ticker.astro';
import About from '../components/home/About.astro';
import Pillars from '../components/home/Pillars.astro';
import Membership from '../components/home/Membership.astro';
import Manifesto from '../components/home/Manifesto.astro';
import Contact from '../components/home/Contact.astro';
import '../styles/global.css';
---

<Layout>
  <Nav />
  <main class="pt-[72px]">
    <Hero />
    <Ticker />
    <About />
    <hr class="gold-rule" />
    <Pillars />
    <hr class="gold-rule" />
    <Membership />
    <Manifesto />
    <Contact />
    <Footer />
  </main>
</Layout>
